{% extends 'backOffice/layout.html.twig' %}

{% block title %}{{parent()}} | creation d'un mode de paiement{% endblock %}
{% block datatables_css %}{% endblock %}

{% block bo_content %}
    <div class="row-title">
        <h1 class="title">Nouveau mode paiement</h1> <a href="{{path('mode_paiement_index')}}" class="call-action btn">modes paiement</a>
    </div>
    <div class="x_panel">
        <div class="x_content">
    	{{ include('mode_paiement/_form.html.twig') }}
	    </div>
	</div>
{% endblock %}
