{% extends 'backOffice/layout.html.twig' %}

{% block title %}{{parent()}} | edition de appareil{% endblock %}
{% block datatables_css %}{% endblock %}

{% block bo_content %}
    <div class="row-title">
        <h1 class="title">Edition d'appareil</h1> 
        <a href="{{path('appareil_index')}}" class="call-action btn">Liste appareil</a>
    </div>
    <div class="x_panel">
        <div class="x_content">

		    {{ include('appareil/_form.html.twig', {'button_label': 'Modifier'}) }}
			<div class="offset-md-3 btn-dlt-p-edit">
		    	{{ include('appareil/_delete_form.html.twig') }}
		    </div>
		</div>
	</div>
{% endblock %}

{% block validation_js %}{% endblock %}
{% block datatables_js %}{% endblock %}