{% extends 'backOffice/layout.html.twig' %}

{% block title %}{{parent()}} | creation de appareil{% endblock %}
{% block datatables_css %}{% endblock %}

{% block bo_content %}
    <div class="row-title">
        <h1 class="title">Nouveau appareil</h1> <a href="{{path('appareil_index')}}" class="call-action btn">Liste appareil</a>
    </div>
    <div class="x_panel">
        <div class="x_content">
    	{{ include('appareil/_form.html.twig') }}
	    </div>
	</div>
{% endblock %}
