{% extends 'backOffice/layout.html.twig' %}

{% block title %}{{parent()}} | creation de restaurant{% endblock %}
{% block datatables_css %}{% endblock %}

{% block bo_content %}
    <div class="row-title">
        <h1 class="title">Nouveau restaurant</h1> <a href="{{path('restaurant_index')}}" class="call-action btn">Liste restaurant</a>
    </div>
    <div class="x_panel">
        <div class="x_content">
    	{{ include('restaurant/_form.html.twig') }}
	    </div>
	</div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        $('.nav.side-menu .item-menu-trafic').addClass('active');
    </script>
{% endblock %} 