{% extends 'base.html.twig' %}

{% block html %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Acueil</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{{asset('assets/theme/vendors/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{asset('assets/theme/vendors/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
      <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5e13725627773e0d832c21b4/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
    <style type="text/css">
      body{
        background: #2a3f54;
        color: #fff;
      }
      .wrapper-body-container .wrapper-content{
        max-width: 1000px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 80px;
      }
      .wrapper-body-container .wrapper-content .wrapper-left{
        flex:1;
        padding-right: 25px;
        padding-left: 15px;
      }
      .wrapper-body-container .wrapper-content .wrapper-rigth{
        width: 263px;
      }
      .btn-group-app{
        max-width: 436px;
        display: flex;
        justify-content: space-between;
        margin-top: 75px;
      }
      .btn-group-app .img-store{
        width: 185px;
      }
      .screen-app{max-width: 100%;}
      .btn-connexion{
        margin-top: 14px;
        padding: 10px 30px;
      }
      .wrapper-left .descr{
        margin-top: 30px;
      }
      .wrapper-content .logo{max-width: 142px;}
    </style>
  </style>
</head>
<body>
  <div class="wrapper-body-container">
    <div class="wrapper-content">
      <div class="wrapper-left">
        <a href="{{path('homepage')}}">
          <img src="http://belsis.cm/images/belsis_logo.png" class="logo"></a>

        <h2 class="descr">
          lorem lorem lorem  lorem lorem lorem  lorem lorem lorem  lorem lorem lorem...
        </h2>
        <a class="btn btn-primary btn-connexion" href="{{path('fos_user_security_login')}}">Connexion</a>

        <div class="btn-group-app">
          <a href="javascript:void()">
            <img src="http://warano.dev2.ovh/wp-content/uploads/revslider/apple3.png" class="img-store">
          </a>
          <a href="javascript:void()">
            <img src="http://warano.dev2.ovh/wp-content/uploads/revslider/google2.png" class="img-store">
          </a>
        </div>
      </div>
      <div class="wrapper-rigth">
        <img src="http://warano.dev2.ovh/wp-content/uploads/2019/12/w-2-removebg-preview.png" class="screen-app">
      </div>
    </div>
  </div>
</body>
</html>
{% endblock html %}