{% extends 'backOffice/layout.html.twig' %}

{% block title %}{{parent()}} | creation d'un categorie{% endblock %}
{% block datatables_css %}{% endblock %}

{% block bo_content %}
    <div class="row-title">
        <h1 class="title">Nouveau categorie</h1> <a href="{{path('categorie_index')}}" class="call-action btn">Liste categorie</a>
    </div>
    <div class="x_panel">
        <div class="x_content">
    	{{ include('categorie/_form.html.twig') }}
	    </div>
	</div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        $('.nav.side-menu .item-menu-categorie').addClass('active');
    </script>
{% endblock %} 
