{% extends 'backOffice/layout.html.twig' %}

{% block title %}{{parent()}} | creation d'utilisateur{% endblock %}
{% block datatables_css %}{% endblock %}

{% block bo_content %}
    <div class="row-title">
        <h1 class="title">Nouveau utilisateur</h1> <a href="{{path('user_index')}}" class="call-action btn">Liste utilisateur</a>
    </div>
    <div class="x_panel">
        <div class="x_content">
    	{{ include('user/_form.html.twig') }}
	    </div>
	</div>
{% endblock %}
{% block validation_js %}{% endblock %}